{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="content">
    <div class="content_resize">
        <div class="mainbar">
            <div class="article">
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.name,  {'attr': {'class':'form-control'}}) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
