<div class="menu_nav">
<ul>
    <li class="{{ (app.request.attributes.get('_route') == 'index')  ? 'active': ''}}"><a href="{{ path('index') }}">Home</a></li>
    <li class="{{ (app.request.attributes.get('_route') == 'support')  ? 'active': ''}}"><a href="{{ path('support')}}">Support</a></li>
    <li class="{{ (app.request.attributes.get('_route') == 'about')  ? 'active': ''}}"><a href="{{ path('about')}}">About Us</a></li>
    <li class="{{ (app.request.attributes.get('_route') == 'contact')  ? 'active': ''}}"><a href="{{ path('contact')}}">Contact Us</a></li>
    
    {% if app.user %}
            <li><a href="{{ path('new_post') }}">New Post</a></li>
            <li><a href="{{ path('app_logout') }}">{{ app.user.name }} - Logout</a></li>
    {% else %}
        <li class="{{ (app.request.attributes.get('_route') == 'app_login')  ? 'active': ''}} lien"><a href="{{ path('app_login') }}"> Login</a></li>
        <li class="{{ (app.request.attributes.get('_route') == 'app_register')  ? 'active': ''}} "><a href="{{ path('app_register') }}"> Register</a></li>
    {% endif %}

</ul>
</div>