<div class="menu_nav">
<ul>
    <li class="{{ (app.request.attributes.get('_route') == 'index')  ? 'active': ''}}"><a href="{{ path('index') }}">Home</a></li>
    <li class="{{ (app.request.attributes.get('_route') == 'support')  ? 'active': ''}}"><a href="{{ path('support')}}">Support</a></li>
    <li class="{{ (app.request.attributes.get('_route') == 'about')  ? 'active': ''}}"><a href="{{ path('about')}}">About Us</a></li>
    <li class="{{ (app.request.attributes.get('_route') == 'blog')  ? 'active': ''}}"><a href="{{ path('blog')}}">Blog</a></li>
    <li class="{{ (app.request.attributes.get('_route') == 'contact')  ? 'active': ''}}"><a href="{{ path('contact')}}">Contact Us</a></li>
</ul>
</div>