{% extends 'base.html.twig' %}
{% block title %} YellowStone | Contact {% endblock %}
{% block body %}

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>Contact</span></h2>
          <div class="clr"></div>
          <p>You can find more of my free template designs at my website. For premium commercial designs, you can check out DreamTemplate.com.</p>
        </div>
        <div class="article">
          <h2><span>Send us</span> mail</h2>
          <div class="clr"></div>
          <form action="#" method="post" id="sendemail">
            <ol>
              <li>
                {{ form_row(form.name, {'attr': {'class':'form-control'}}) }}
              </li>
              <li>
                {{ form_row(form.email, {'attr': {'class':'form-control'}}) }}
              </li>
              <li>
                {{ form_row(form.url, {'attr': {'class':'form-control'}}) }}
              </li>
              <li>
                {{ form_row(form.message, {'attr': {'class':'form-control'}}) }}
              </li>
              <li>
			          {{ form_row(form.Send, {'attr': {'class':'pull-right btn btn-lg sr-button'}}) }}                <div class="clr"></div>
              </li>
            </ol>
          </form>
        </div>
      </div>
      {{include ('partials/sidebar.html.twig')}}
    </div>
  </div>

{% endblock %}